@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #ca995d;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fffffffc;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
  
  .button:hover {
    background-color: #a45e25;
  }
  
  .table {
    background-color: #dedada;
    border-collapse: collapse;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    width: 100%;
  }
  
  .table th,
  .table td {
    padding: 0.75rem 1rem;
    text-align: left;
    border: 1px solid #e2e8f0;
  }
  
  .table th {
    background-color: #e2e8f0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.75rem;
    color: #4a5568;
  }
  
  h1,
  .h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  h2,
  .h2 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }
  
  h3,
  .h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  h4,
  .h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  h5,
  .h5 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  

  .select1 {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid #e2e8f0;
    background-color: #ffffff;
    color: #4a5568;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 300px;
}

.select1:focus {
    border-color: #a0aec0;
    box-shadow: 0 0 0 0.2rem rgba(157, 163, 180, 0.25);
}

